# ENTREGABLE 4

# INSTRUCCIONES

Utilizar el archivo CSV (`dataset_banco_clean.csv`) con 45189 filas y 17 columnas y aplicar las técnicas de normalización del entregable 3.

In [ ]:
# imports
from sklearn.datasets import load_iris
import numpy as np
import pandas as pd

In [ ]:
ruta = "/content/dataset_banco_clean.csv"
data = pd.read_csv(ruta)
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45184,51,technician,married,tertiary,no,825.0,no,no,cellular,17,nov,977.0,3,-1.0,0,unknown,yes
45185,71,retired,divorced,primary,no,1729.0,no,no,cellular,17,nov,456.0,2,-1.0,0,unknown,yes
45186,72,retired,married,secondary,no,5715.0,no,no,cellular,17,nov,1127.0,5,184.0,3,success,yes
45187,57,blue-collar,married,secondary,no,668.0,no,no,telephone,17,nov,508.0,4,-1.0,0,unknown,no
45188,37,entrepreneur,married,secondary,no,2971.0,no,no,cellular,17,nov,361.0,2,188.0,11,other,no

# Objetivo

Generar un model de clasificación capaz de predecir la clase de flor en función de las carácterísticas del dataset

* Aplicar las técnicas oportunas de procesamiento de datos

* Generar split de los datos

* Valorar diferentes modelos de clasificación

* Comparación entre modelos

* Ensemble

* Métricas

* Conclusiones finales

# 1. Procesamiento

Al utilizar un dataset ya limpiado previamente, podremos pasar directamente a su codificación.

In [ ]:
# Mostrar las primeras filas del conjunto de datos
print(data.head())

# Información del conjunto de datos
print(data.info())

# Estadísticas descriptivas
print(data.describe())

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no   2143.0     yes   no
1   44    technician   single  secondary      no     29.0     yes   no
2   33  entrepreneur  married  secondary      no      2.0     yes  yes
3   47   blue-collar  married    unknown      no   1506.0     yes   no
4   33       unknown   single    unknown      no      1.0      no   no

   contact  day month  duration  campaign  pdays  previous poutcome   y
0  unknown    5   may     261.0         1   -1.0         0  unknown  no
1  unknown    5   may     151.0         1   -1.0         0  unknown  no
2  unknown    5   may      76.0         1   -1.0         0  unknown  no
3  unknown    5   may      92.0         1   -1.0         0  unknown  no
4  unknown    5   may     198.0         1   -1.0         0  unknown  no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45189 entries, 0 to 45188
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45189 non-null  int64
 1   job        45189 non-null  object
 2   marital    45189 non-null  object
 3   education  45189 non-null  object
 4   default    45189 non-null  object
 5   balance    45189 non-null  float64
 6   housing    45189 non-null  object
 7   loan       45189 non-null  object
 8   contact    45189 non-null  object
 9   day        45189 non-null  int64
 10  month      45189 non-null  object
 11  duration   45189 non-null  float64
 12  campaign   45189 non-null  int64
 13  pdays      45189 non-null  float64
 14  previous   45189 non-null  int64
 15  poutcome   45189 non-null  object
 16  y          45189 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB
None
                age        balance           day      duration      campaign  \
count  45189.000000   45189.000000  45189.000000  45189.000000  45189.000000
mean      40.936445    1374.012149     15.807188    258.115006      2.763283
std       10.618502    3924.370039      8.322549    257.349601      3.096579
min       18.000000   -8019.000000      1.000000      1.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  527532.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45189.000000  45189.000000
mean      40.178893      0.574166
std      100.107295      1.907950
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000     58.000000

En primer lugar, codificamos las variables categóricas ordinalmente.

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Inicializar el codificador para variables categóricas
label_encoder = LabelEncoder()

# Lista de variables categóricas a codificar
categorical_variables = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

# Iterar sobre las variables categóricas y codificarlas ordinalmente
for variable in categorical_variables:
    data[variable + '_encoded'] = label_encoder.fit_transform(data[variable])

# Codificar 'y' a valores numéricos (1 para 'yes', 0 para 'no')
data['y_encoded'] = label_encoder.fit_transform(data['y'])

# Agregar 'y_encoded' a la lista de características numéricas
numerical_features = ['y_encoded'] + data.select_dtypes(include=['int', 'float']).columns.tolist()

# Eliminar las columnas originales de las variables categóricas si lo deseas
data.drop(categorical_variables + ['y'], axis=1, inplace=True)

# Verificar los valores únicos de las variables codificadas
for variable in categorical_variables:
    print(variable + '_encoded:', data[variable + '_encoded'].unique())

# Verificar los valores únicos de 'y_encoded'
print('y_encoded:', data['y_encoded'].unique())

job_encoded: [ 4  9  2  1 11  5  0  7  6 10  3  8]
marital_encoded: [1 2 0]
education_encoded: [2 1 3 0]
default_encoded: [0 1]
housing_encoded: [1 0]
loan_encoded: [0 1]
contact_encoded: [2 0 1]
month_encoded: [ 8  9  6  5  1 10  2  4  3  7  0 11]
poutcome_encoded: [3 0 1 2]
y_encoded: [0 1]

In [ ]:
data

,age,balance,day,duration,campaign,pdays,previous,job_encoded,marital_encoded,education_encoded,default_encoded,housing_encoded,loan_encoded,contact_encoded,month_encoded,poutcome_encoded,y_encoded
0,58,2143.0,5,261.0,1,-1.0,0,4,1,2,0,1,0,2,8,3,0
1,44,29.0,5,151.0,1,-1.0,0,9,2,1,0,1,0,2,8,3,0
2,33,2.0,5,76.0,1,-1.0,0,2,1,1,0,1,1,2,8,3,0
3,47,1506.0,5,92.0,1,-1.0,0,1,1,3,0,1,0,2,8,3,0
4,33,1.0,5,198.0,1,-1.0,0,11,2,3,0,0,0,2,8,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45184,51,825.0,17,977.0,3,-1.0,0,9,1,2,0,0,0,0,9,3,1
45185,71,1729.0,17,456.0,2,-1.0,0,5,0,0,0,0,0,0,9,3,1
45186,72,5715.0,17,1127.0,5,184.0,3,5,1,1,0,0,0,0,9,2,1
45187,57,668.0,17,508.0,4,-1.0,0,1,1,1,0,0,0,1,9,3,0
45188,37,2971.0,17,361.0,2,188.0,11,2,1,1,0,0,0,0,9,1,0

Para terminar, realizamos un escalamiento de los datos, ya que vamos a probar todos los algoritmos y será una buena manera de compararlos.

In [ ]:
from sklearn.preprocessing import StandardScaler

# Inicializar el escalador
scaler = StandardScaler()

# Escalar las características numéricas
data_scaled = data.copy()  # Hacemos una copia del conjunto de datos
data_scaled[numerical_features] = scaler.fit_transform(data[numerical_features])

# Verificar los valores únicos de las características escaladas (si lo deseas)
for feature in numerical_features:
    print("Valores únicos de", feature, "después del escalado:", data_scaled[feature].unique())

Valores únicos de y_encoded después del escalado: [-0.363927   2.7478038]
Valores únicos de age después del escalado: [ 1.60698229  0.28851426 -0.7474249   0.57104313 -0.55907232 -1.21830634
  0.10016169  0.19433798  0.0059854  -1.12413005  1.512806    0.94774828
  0.38269055  1.79533486  1.41862971 -0.84160119 -1.5008352  -0.08819089
 -0.18236717  1.04192456  0.47686684 -0.46489604  0.7593957   1.70115858
  1.13610085 -0.37071975  0.85357199  1.23027714  1.32445343  0.66521941
 -1.59501149 -0.27654346 -0.93577747 -1.02995376 -1.31248262 -0.65324861
 -1.68918777 -1.40665891  1.88951115 -1.78336406 -1.87754035 -1.97171664
  2.36039259  1.98368744  3.96138948  3.20797918  2.45456888  2.73709774
  2.2662163   2.54874516  2.17204001  2.64292145  2.92545031  2.83127403
 -2.06589292  3.30215546  4.14974205  2.07786373  4.62062349  3.86721319
  3.0196266   3.11380289  3.49050804  3.67886061  4.99732864  3.58468433
  3.39633175  4.24391834  5.09150493  3.7730369  -2.16006921  4.5264472
  4.05556576  4.33809463  4.80897606  4.90315235  4.43227091]
Valores únicos de balance después del escalado: [ 0.19595409 -0.34273706 -0.34961722 ...  1.74067771  3.26934761
  3.81695748]
Valores únicos de day después del escalado: [-1.2985573  -1.17840048 -0.93808684 -1.05824366  0.02316773 -0.81793002
 -0.45745955 -0.33730273 -0.21714591 -0.09698909  0.38363819  0.50379501
  0.62395183  0.86426547  1.22473593  1.34489275  1.46504957  1.58520639
  1.70536321 -1.65902776 -1.53887094 -1.41871412 -0.57761638  0.14332455
  0.26348137  0.98442229  1.10457911 -1.77918458 -0.6977732   0.74410865
  1.82552003]
Valores únicos de duration después del escalado: [ 0.01121053 -0.41622832 -0.7076639  ...  4.04079314  3.83873114
  5.04333153]
Valores únicos de campaign después del escalado: [-0.56943564 -0.24649508  0.07644549  0.72232662  0.39938606  1.04526719
  1.36820776  1.69114832  2.01408889  2.33702945  2.65997002  2.98291059
  3.30585115  5.24349455  3.62879172  6.85819738  4.27467285  9.44172191
  4.92055398  6.21231625  3.95173229  4.59761342  7.18113795  5.88937568
 12.99406814 15.57759267 19.45287947 12.34818701  7.50407852  8.14995965
 16.86935494 15.25465211 11.37936531  5.56643512  6.53525682  8.47290021
  9.11878135 11.05642475  8.79584078 13.96288984  7.82701908 17.83817664
  9.76466248 10.41054361 10.08760305 10.73348418 11.70230588 13.31700871]
Valores únicos de pdays después del escalado: [-4.11352129e-01  1.46665367e+00  1.10703554e+00  1.25687643e+00
  5.07671988e-01  4.57725025e-01  1.02712040e+00  1.06707797e+00
  4.87693203e-01  9.97152224e-01  1.35677036e+00  6.07565913e-01
  1.33679157e+00  1.29683400e+00  1.26686582e+00  1.54656882e+00
  1.24688704e+00  8.87268905e-01  1.47664307e+00  1.55655821e+00
  1.31681279e+00  7.77385587e-01  7.87374980e-01  6.37534091e-01
  1.30682339e+00  7.67396195e-01  1.23689765e+00  9.17237083e-01
  9.07247691e-01  8.27332550e-01  1.18695068e+00  1.45666428e+00
  7.07459839e-01  7.47417409e-01  7.57406802e-01  1.32680218e+00
  1.37674914e+00  6.97470447e-01  1.11702493e+00  5.57618951e-01
  6.27544699e-01  1.09704615e+00  1.34678096e+00  1.52659003e+00
  1.40671732e+00  1.44667489e+00  1.13700372e+00  1.04709919e+00
  9.77173439e-01  8.57300728e-01  1.39672793e+00  6.87481054e-01
  1.17696129e+00  1.27685522e+00  5.67608343e-01  1.41670671e+00
  8.67290120e-01  8.97258298e-01  1.53657942e+00  8.47311335e-01
  6.47523484e-01  6.17555306e-01 -1.41638529e-01  1.38673853e+00
 -1.21659744e-01  1.42669610e+00  1.14699311e+00  7.17449232e-01
  7.97364372e-01  9.67184046e-01  8.37321943e-01  1.49662185e+00
  7.27438624e-01  1.21691886e+00  9.37215868e-01  1.28684461e+00
  1.48663246e+00 -3.21447596e-01  1.03710979e+00  1.50661124e+00
  1.43668550e+00  1.36675975e+00 -3.51415773e-01  5.87587128e-01
  9.27226476e-01  5.27650773e-01  5.17661380e-01 -3.01468810e-01
  5.97576521e-01  1.15698250e+00  1.57653699e+00  6.57512876e-01
  1.12701433e+00  1.05708858e+00  8.77279513e-01 -3.31436988e-01
  8.07353765e-01  1.19694008e+00  6.67502269e-01  4.97682595e-01
 -1.31649137e-01  1.56654760e+00  9.57194653e-01  9.87162831e-01
  8.17343157e-01  1.16697190e+00  1.08705676e+00  9.47205261e-01
 -1.01680959e-01  7.37428017e-01  5.77597736e-01  1.51660064e+00
  1.22690825e+00 -6.17233888e-02  5.47629558e-01  1.00714162e+00
 -9.16915665e-02  1.58652639e+00  5.37640165e-01  6.77491661e-01
 -1.11670352e-01  2.27579447e+00  2.06601723e+00  2.12595358e+00
  1.85623998e+00  2.03604905e+00  1.98610209e+00  2.04603844e+00
  1.63647335e+00  1.90618695e+00  1.97611270e+00  2.17590055e+00
  1.89619755e+00  2.13594298e+00  2.24582629e+00  3.07884136e-01
  1.82627181e+00  2.05602784e+00  2.09598541e+00  2.25581569e+00
  1.99609148e+00  1.64646274e+00  2.20586872e+00  2.00608087e+00
  2.19587933e+00  1.93615513e+00  2.18588994e+00  2.10597480e+00
  1.84625059e+00  1.20692947e+00  1.96612330e+00  2.21585812e+00
  2.07600662e+00  2.14593237e+00  1.79630363e+00  1.86622938e+00
  1.65645213e+00  1.83626120e+00  2.08599601e+00  1.94614452e+00
  1.87621877e+00  2.22584751e+00 -3.81383951e-01  2.29577326e+00
  1.91617634e+00  2.11596419e+00  1.66644153e+00  1.59651578e+00
  2.28578387e+00  1.92616573e+00  2.15592176e+00  2.32574144e+00
  2.31575204e+00  2.01607027e+00  2.23583690e+00  1.67643092e+00
  1.73636727e+00  1.81628241e+00  2.30576265e+00  1.62648396e+00
  1.80629302e+00  1.61649456e+00  1.75634606e+00  1.60650517e+00
  2.16591115e+00  1.88620816e+00  1.69640970e+00  1.76633545e+00
  3.47841707e-01  1.72637788e+00  3.27862921e-01  3.57831099e-01
  2.26580508e+00  1.70639910e+00  1.74635667e+00  3.67820492e-01
  1.95613391e+00  4.17767455e-01 -3.41426381e-01  1.68642031e+00
  2.33573083e+00 -3.91373344e-01  2.02605966e+00  1.71638849e+00
  2.34572022e+00  3.97788669e-01  2.35570961e+00 -3.11458203e-01
  2.38567779e+00 -2.81490025e-01  2.39566718e+00  4.77703810e-01
  2.36569901e+00  4.47735632e-01  4.37746240e-01  1.78631424e+00
 -1.61617314e-01 -1.91585492e-01  2.41564597e+00  8.20235923e-03
  2.53551868e+00  8.81174998e-02  2.88514742e+00  2.66538078e+00
  2.62542321e+00  2.90512620e+00  2.67537018e+00  2.59545503e+00
  2.37958388e-01  2.73530653e+00  2.46559293e+00  2.89513681e+00
  2.91511560e+00  2.61543382e+00  2.82521106e+00  2.77526410e+00
  2.92510499e+00  1.98000818e-01  2.85517924e+00  2.94508377e+00
  2.72531714e+00  2.71532775e+00  2.64540200e+00  2.84518985e+00
  2.86516863e+00  2.95507317e+00  2.68535957e+00  2.87515803e+00
  2.81522167e+00 -1.17764259e-02  2.75528532e+00  2.51553989e+00
  2.54550807e+00  2.69534896e+00  2.65539139e+00  2.79524289e+00
  2.76527471e+00  2.48557172e+00  1.68032640e-01  2.80523228e+00
  1.01713101e+00  2.98504135e+00  2.60544443e+00  2.74529592e+00
  2.96506256e+00  2.93509438e+00  2.99503074e+00  2.78525349e+00
 -2.31543062e-01  3.37852314e-01  1.07706736e+00  3.00502013e+00
  2.58546564e+00  3.03498831e+00  3.01500952e+00  2.83520046e+00
  3.04497770e+00  3.05496709e+00  2.63541261e+00  2.40565658e+00
  3.02499892e+00  2.97505195e+00 -2.61511240e-01  3.06495649e+00
 -2.51521848e-01  2.50555050e+00  3.07494588e+00  3.08493527e+00
  2.44561415e+00  3.09492466e+00  2.43562475e+00 -1.51627922e-01
  2.42563536e+00  2.37568840e+00  4.07778062e-01 -3.61405166e-01
  4.67714417e-01  4.27756847e-01  3.87799277e-01  2.97894744e-01
 -2.71500633e-01  2.52552929e+00 -3.17552110e-02  3.77809884e-01
  2.27968996e-01 -1.81596100e-01  2.55549746e+00  3.14487163e+00
  2.57937173e-01 -2.11564277e-01 -5.17339962e-02  3.19481859e+00
  3.16485041e+00  3.13488223e+00  3.10491406e+00  3.21479737e+00
  3.17483980e+00  3.24476555e+00  2.57547625e+00  2.45560354e+00
  3.23477616e+00  3.22478677e+00  6.81387147e-02  3.20480798e+00
  2.47558232e+00  3.25475494e+00  3.15486102e+00  3.11490345e+00
  3.18482920e+00  2.56548686e+00  3.26474434e+00  3.12489284e+00
  3.27473373e+00  1.81917518e-02  2.49556111e+00  2.67926566e-01
  3.30470191e+00  3.29471251e+00  3.28472312e+00  9.81068924e-02
 -4.17446036e-02  3.32468069e+00  3.33467009e+00  3.31469130e+00
  2.70533835e+00  3.34465948e+00  3.37462766e+00  1.88011425e-01
  3.38461705e+00 -1.78703334e-03 -2.21553670e-01  2.81811444e-02
 -2.01574885e-01  2.87905351e-01 -2.17658185e-02  3.44455340e+00
  1.58043248e-01  1.48053855e-01  3.81705369e-02  3.50448976e+00
  3.17873529e-01  3.49450037e+00 -8.17021739e-02  2.17979603e-01
  3.58440490e+00  3.52446854e+00  2.47947781e-01  3.36463826e+00
  3.54444733e+00  3.47452158e+00  3.48451097e+00  3.45454280e+00
  2.07990211e-01  3.71426700e+00  3.64434125e+00  3.93403364e+00
  3.53445794e+00  3.41458523e+00  4.18376845e+00  3.99396999e+00
  3.56442611e+00  3.42457462e+00  2.77915959e-01  4.20374724e+00
  4.21373663e+00  4.22372602e+00  3.81416093e+00  1.08096285e-01
  4.16378967e+00  3.89407607e+00  4.01394878e+00  3.62436247e+00
  4.13382149e+00  3.87409728e+00  3.51447915e+00  3.69428822e+00
  3.60438368e+00  4.33360934e+00  4.34359873e+00  4.36357752e+00
  4.37356691e+00  1.38064463e-01  4.35358813e+00  3.39460644e+00
  4.38355630e+00  4.81599295e-02  5.81493221e-02  4.54338659e+00
  1.78022033e-01  7.81281072e-02  4.77314262e+00  1.18085678e-01
  4.74317444e+00  4.79312140e+00  4.70321687e+00  4.95295168e+00
  3.46453219e+00  1.77632484e+00 -7.17127813e-02  5.03286682e+00
  3.94402303e+00  3.95401242e+00  5.14275014e+00  3.92404425e+00
  4.05390635e+00  5.17271832e+00  4.28366238e+00  5.75210309e+00
  5.20268650e+00  5.12277136e+00  3.43456401e+00  5.51235767e+00
  4.26368359e+00  5.44243192e+00  4.39354570e+00  3.80417154e+00
  6.26156211e+00  5.85199701e+00  3.85411850e+00  5.54232584e+00
  3.40459583e+00  3.35464887e+00  6.07176365e+00  4.80311079e+00
  4.11384271e+00  4.08387453e+00  5.92192276e+00  3.57441551e+00
  1.28075070e-01  4.19375785e+00  6.29153029e+00  5.10279257e+00
  3.73424579e+00  5.16272893e+00  6.46134996e+00  3.63435186e+00
  6.10173183e+00  6.45136057e+00  3.84412911e+00  4.63329112e+00
  5.37250617e+00  6.33148786e+00  3.75422457e+00  5.45242131e+00
  3.70427761e+00  7.15061805e+00  4.09386392e+00  7.04073473e+00
  4.73318504e+00  3.76421397e+00  3.83413971e+00  7.35040590e+00
  3.55443672e+00  6.42139239e+00  4.88302593e+00  3.98398060e+00
  3.74423518e+00  4.15380028e+00  3.66432004e+00  4.17377906e+00
  4.91299411e+00  4.40353509e+00  7.50024679e+00  6.60120146e+00
  4.90300472e+00  7.51023618e+00  3.72425640e+00  4.04391696e+00
  4.94296229e+00  7.43032104e+00  3.78419275e+00  4.14381088e+00
  4.50342902e+00  3.90406546e+00  5.01288804e+00  4.29365177e+00
  4.31363056e+00  6.76103174e+00  3.96400182e+00 -3.71394558e-01
  7.41034225e+00  6.87091505e+00  7.86985431e+00  4.83307897e+00
  5.21267589e+00  7.20056501e+00  4.51341841e+00  7.34041651e+00
  5.38249556e+00  4.52340780e+00  4.23371542e+00  7.19057562e+00
  4.25369420e+00  4.24370481e+00  6.15167879e+00  7.89982249e+00
  4.49343962e+00  3.91405485e+00  6.14168940e+00  3.86410789e+00
  7.08069230e+00  7.96974824e+00  7.28048015e+00  5.46241070e+00
  7.37038468e+00  8.12957852e+00  7.38037408e+00  8.08962095e+00
  7.30045894e+00  5.53233645e+00  8.00970581e+00  5.48238949e+00
  5.62224098e+00  4.43350327e+00  4.48345023e+00  4.45348205e+00
  3.68429883e+00  4.03392756e+00  6.39142421e+00  7.67006646e+00
  4.44349266e+00  4.62330173e+00  6.49131814e+00  7.31044833e+00
  7.33042711e+00  4.85305776e+00  3.79418214e+00  4.87303654e+00
  4.59333355e+00  7.84987553e+00  7.63010889e+00  4.67324869e+00
  5.06283500e+00  7.64009828e+00  5.00289864e+00  5.02287743e+00
  8.29939819e+00  5.09280318e+00  4.89301533e+00]
Valores únicos de previous después del escalado: [-0.30093692  2.31970569  1.27144865  0.2231916   1.79557717  0.74732012
  5.46447683  8.08511944  2.84383421  4.94034831  5.98860535  3.36796274
  9.13337649  4.41621978 10.70576206  3.89209126  7.0368624   7.56099092
 13.32640467 19.09181843  6.51273388 12.80227615 10.18163354 13.8505332
  8.60924797 11.75401911 19.61594695 14.89879024 12.27814763 26.42961775
 11.22989058  9.65750501 15.42291877 30.09851741 14.37466172 16.47117581
 20.664204   28.52613184 18.04356138 21.18833252]
Valores únicos de job_encoded después del escalado: [-0.10381171  1.42405022 -0.71495648 -1.02052887  2.035195    0.20176068
 -1.32610125  0.81290545  0.50733306  1.72962261 -0.40938409  1.11847784]
Valores únicos de marital_encoded después del escalado: [-0.27582169  1.36830262 -1.919946  ]
Valores únicos de education_encoded después del escalado: [ 1.03610915 -0.3007095   2.37292779 -1.63752814]
Valores únicos de default_encoded después del escalado: [-0.13552347  7.37879569]
Valores únicos de housing_encoded después del escalado: [ 0.89418673 -1.11833464]
Valores únicos de loan_encoded después del escalado: [-0.43682233  2.28926028]
Valores únicos de contact_encoded después del escalado: [ 1.51452816 -0.7129018   0.40081318]
Valores únicos de month_encoded después del escalado: [ 0.82396874  1.15652792  0.15885038 -0.1737088  -1.50394551  1.4890871
 -1.17138633 -0.50626798 -0.83882715  0.49140956 -1.83650469  1.82164627]
Valores únicos de poutcome_encoded después del escalado: [ 0.44482209 -2.58869045 -1.5775196  -0.56634876]
Valores únicos de y_encoded después del escalado: [-0.363927   2.7478038]

Ahora tenemos el dataset original en el campod data, y el escalado por si se necesitara en un futuro en el campo data_scaled.

# 2. Generar split de los datos

Dividimos el conjunto de datos en conjuntos de entrenamiento y prueba para poder evaluar el desempeño del modelo.

In [ ]:
from sklearn.model_selection import train_test_split

# Dividir el conjunto de datos en características (X) y la variable objetivo (y)
X = data_scaled.drop('y_encoded', axis=1)  # Características
y = data_scaled['y_encoded']  # Variable objetivo

# Dividir los datos en conjunto de entrenamiento y prueba (80% entrenamiento, 20% prueba)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Verificar las formas de los conjuntos de entrenamiento y prueba
print("Forma del conjunto de entrenamiento:", X_train.shape, y_train.shape)
print("Forma del conjunto de prueba:", X_test.shape, y_test.shape)

Forma del conjunto de entrenamiento: (36151, 16) (36151,)
Forma del conjunto de prueba: (9038, 16) (9038,)

# 3. Evaluación de modelos

Entrenamos y evaluamos varios modelos de clasificación utilizando el conjunto de datos de entrenamiento. Probaremos árboles de decisión, kNN y SVM vistos en el notebook anterior.

In [ ]:
# Convertir las etiquetas de destino a enteros para que evitar errores
y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Inicializar el clasificador de Árboles de Decisión
dt_classifier = DecisionTreeClassifier(random_state=42)

# Entrenar el modelo de Árboles de Decisión
dt_classifier.fit(X_train, y_train)

# Predecir en el conjunto de prueba
y_pred_dt = dt_classifier.predict(X_test)

# Calcular la precisión del modelo
accuracy_dt = accuracy_score(y_test, y_pred_dt)
print("Precisión del modelo de Árboles de Decisión:", accuracy_dt)

Precisión del modelo de Árboles de Decisión: 0.8744191192741757

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

# Inicializar el clasificador kNN
knn_classifier = KNeighborsClassifier()

# Entrenar el modelo kNN
knn_classifier.fit(X_train, y_train)

# Predecir en el conjunto de prueba
y_pred_knn = knn_classifier.predict(X_test)

# Calcular la precisión del modelo
accuracy_knn = accuracy_score(y_test, y_pred_knn)
print("Precisión del modelo kNN:", accuracy_knn)

Precisión del modelo kNN: 0.8954414693516265

In [ ]:
from sklearn.svm import SVC

# Inicializar el clasificador SVM
svm_classifier = SVC(random_state=42)

# Entrenar el modelo SVM
svm_classifier.fit(X_train, y_train)

# Predecir en el conjunto de prueba
y_pred_svm = svm_classifier.predict(X_test)

# Calcular la precisión del modelo
accuracy_svm = accuracy_score(y_test, y_pred_svm)
print("Precisión del modelo SVM:", accuracy_svm)

Precisión del modelo SVM: 0.8997565833148927

Observamos que de los 3 modelos, para este dataset el algoritmo SVC es el más óptimo , que obtiene una precisión cercana al 90%.

# 4. Ensemble

A continuación, vamos a utilizar un ensemble de modelos para mejorar la precisión de nuestras predicciones. Un ensemble combina las predicciones de varios modelos base para obtener una predicción final más precisa.

Vamos a utilizar la técnica de Bagging, que es una de las técnicas de ensemble más comunes. Bagging consiste en entrenar varios modelos base (por lo general, árboles de decisión) en diferentes subconjuntos del conjunto de datos de entrenamiento y luego promediar sus predicciones para obtener la predicción final.

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

# Inicializar el modelo base (Árbol de decisión)
base_model = DecisionTreeClassifier()

# Inicializar el modelo Bagging
bagging_model = BaggingClassifier(base_model, n_estimators=10, random_state=42)

# Entrenar el modelo Bagging
bagging_model.fit(X_train, y_train)

# Calcular la precisión del modelo Bagging en el conjunto de prueba
accuracy_bagging = bagging_model.score(X_test, y_test)

print("Precisión del modelo Bagging:", accuracy_bagging)

Precisión del modelo Bagging: 0.9018588183226377

Vemos que gracias al Bagging superamos la precisión de los algoritmos por separado, superado el 90%. Vamos a probar un par de algoritmos más.

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# Inicializar el modelo Random Forest
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Entrenar el modelo Random Forest
rf_model.fit(X_train, y_train)

# Calcular la precisión del modelo Random Forest en el conjunto de prueba
accuracy_rf = rf_model.score(X_test, y_test)

print("Precisión del modelo Random Forest:", accuracy_rf)

Precisión del modelo Random Forest: 0.9080548793980969

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

# Inicializar el modelo Gradient Boosting
gb_model = GradientBoostingClassifier(n_estimators=100, random_state=42)

# Entrenar el modelo Gradient Boosting
gb_model.fit(X_train, y_train)

# Calcular la precisión del modelo Gradient Boosting en el conjunto de prueba
accuracy_gb = gb_model.score(X_test, y_test)

print("Precisión del modelo Gradient Boosting:", accuracy_gb)

Precisión del modelo Gradient Boosting: 0.908276167293649

Tras esto, observamos que el ensemble más preciso para nuestro dataset de los probados es el Gradient Boosting, llegando al 91% de precisión.

# 5. Métricas

Calculamos métricas de evaluación como precisión, recall, F1-score, matriz de confusión, etc., para evaluar el desempeño de los modelos en el conjunto de prueba.

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

# Definir una función para calcular y mostrar métricas de evaluación
def evaluate_model(model, X_test, y_test):
    # Realizar predicciones en el conjunto de prueba
    y_pred = model.predict(X_test)

    # Calcular y mostrar la matriz de confusión
    print("Matriz de confusión:")
    print(confusion_matrix(y_test, y_pred))

    # Calcular y mostrar el reporte de clasificación
    print("\nReporte de clasificación:")
    print(classification_report(y_test, y_pred))

# Evaluar Árbol de Decisión
print("Métricas para Árbol de Decisión:")
evaluate_model(dt_classifier, X_test, y_test)

# Evaluar kNN
print("\nMétricas para kNN:")
evaluate_model(knn_classifier, X_test, y_test)

# Evaluar SVM
print("\nMétricas para SVM:")
evaluate_model(svm_classifier, X_test, y_test)

# Evaluar Bagging
print("\nMétricas para Bagging:")
evaluate_model(bagging_model, X_test, y_test)

# Evaluar Random Forest
print("\nMétricas para Random Forest:")
evaluate_model(rf_model, X_test, y_test)

# Evaluar Gradient Boosting
print("\nMétricas para Gradient Boosting:")
evaluate_model(gb_model, X_test, y_test)

Métricas para Árbol de Decisión:
Matriz de confusión:
[[7395  583]
 [ 552  508]]

Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.93      0.93      0.93      7978
           2       0.47      0.48      0.47      1060

    accuracy                           0.87      9038
   macro avg       0.70      0.70      0.70      9038
weighted avg       0.88      0.87      0.88      9038


Métricas para kNN:
Matriz de confusión:
[[7763  215]
 [ 730  330]]

Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.91      0.97      0.94      7978
           2       0.61      0.31      0.41      1060

    accuracy                           0.90      9038
   macro avg       0.76      0.64      0.68      9038
weighted avg       0.88      0.90      0.88      9038


Métricas para SVM:
Matriz de confusión:
[[7847  131]
 [ 775  285]]

Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.91      0.98      0.95      7978
           2       0.69      0.27      0.39      1060

    accuracy                           0.90      9038
   macro avg       0.80      0.63      0.67      9038
weighted avg       0.88      0.90      0.88      9038


Métricas para Bagging:
Matriz de confusión:
[[7719  259]
 [ 628  432]]

Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.92      0.97      0.95      7978
           2       0.63      0.41      0.49      1060

    accuracy                           0.90      9038
   macro avg       0.77      0.69      0.72      9038
weighted avg       0.89      0.90      0.89      9038


Métricas para Random Forest:
Matriz de confusión:
[[7757  221]
 [ 610  450]]

Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.93      0.97      0.95      7978
           2       0.67      0.42      0.52      1060

    accuracy                           0.91      9038
   macro avg       0.80      0.70      0.73      9038
weighted avg       0.90      0.91      0.90      9038


Métricas para Gradient Boosting:
Matriz de confusión:
[[7792  186]
 [ 643  417]]

Reporte de clasificación:
              precision    recall  f1-score   support

           0       0.92      0.98      0.95      7978
           2       0.69      0.39      0.50      1060

    accuracy                           0.91      9038
   macro avg       0.81      0.69      0.73      9038
weighted avg       0.90      0.91      0.90      9038

Vemos que el **árbol de decisión** tiene una alta precisión y recall para la clase 0, pero una precisión y recall más bajos para la clase 2. Esto puede indicar un desequilibrio en el conjunto de datos o un sesgo del modelo hacia la clase mayoritaria.

El modelo **kNN** tiene una buena precisión para la clase 0 pero un recall bajo para la clase 2. Esto indica que el modelo está clasificando correctamente la mayoría de las instancias de la clase 0, pero tiene dificultades para identificar correctamente las instancias de la clase 2.

Por otro lado, vemos que tanto **Random Forest** como **Gradient Boosting** muestran un rendimiento equilibrado en términos de precisión y recall para ambas clases, lo que demuestra que son la mejor opción para nuestro estudio.

# Conclusiones

Como conclusión podemos observar que todos los modelos evaluados muestran un rendimiento decente en términos de precisión global, pero también se identifican diferencias en cómo manejan las diferentes clases y características del conjunto de datos.

Algunos modelos han demostrado ser más robustos y equilibrados en su capacidad para predecir correctamente ambas clases, mientras que otros mostraron desequilibrios o sesgos hacia una clase en particular.